/* body {
    background-color: whitesmoke;
  }
  
  .title {
    background-color: blue;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 90px;
  }
  .title:hover {
    background-color: red;
  }
  
  .title a {
    color: white;
  }
   */